[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sphinx = "*"
m2r = "*"
coverage = "*"
black = "==19.10b0"
pudb = "*"
ipython = "*"
alembic = "*"
mypy = "*"
sphinx-rtd-theme = "*"

[packages]
sqlalchemy = "==1.3.10"
dynaconf = "*"
psycopg2-binary = "*"
pyaml = "*"
clavis = "==0.0.1b3"
marshmallow = "==3.2.2"
falcon = "==2.0.0"
jinja2 = "*"
apispec = "==3.1.0"
bulky = "*"
boto3 = "*"
cached-property = "*"

[requires]
python_version = "3.7"
