[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sphinx = "*"
m2r = "*"
coverage = "*"
black = "==19.10b0"
pudb = "*"
ipython = "*"
alembic = "*"
mypy = "*"
sphinx-rtd-theme = "*"

[packages]
sqlalchemy = "<1.4.0,>=1.3.23"
dynaconf = "*"
psycopg2-binary = "*"
pyaml = "*"
clavis = "==0.0.1b3"
marshmallow = "<4.0.0,>=3.12.1"
falcon = "<3.0.0,>=2.0.0"
jinja2 = "*"
apispec = "<4.0.0,>=3.3.2"
bulky = "*"
boto3 = "*"
cached-property = "*"

[requires]
python_version = "3"
